.header {
    margin-top: 2rem;
    width: 90%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;

    .logo {
        width: 210px;
        height: 68px;
        object-fit: cover;

        @media screen and (max-width: 600px) {
            width: 180px;
        }

        @media screen and (max-width: 600px) {
            width: 100px;
            height: 50px;
        }
    }

    .navigation {
        a {
            font-weight: 500;
            font-style: normal;
            font-size: 24px;
            color: $color-un;
            text-decoration: none;

            @media screen and (max-width: 600px) {
                font-size: 18px;
            }

            @media screen and (max-width: 390px) {
                font-size: 14px;
            }
        }

        .active {
            text-decoration: underline;
        }

        .accueil {
            margin-right: 3rem;

            @media screen and (max-width: 600px) {
                margin-right: 1rem;
            }
        }
    }
}
